/* purgecss start ignore */
@import "tailwindcss/base";
@import "tailwindcss/components";
/* purgecss end ignore */
@import "tailwindcss/utilities";

/* purgecss start ignore */
@import "tailwindcss/base";
@import "tailwindcss/components";
/* purgecss end ignore */
@import "tailwindcss/utilities";

/* Themes */

:root {
  /* --bgbg: linear-gradient(to bottom, transparent, rgba(236, 198, 48, 0.1)); */
  --gray0: #f5f5f5;
  --gray1: #d8d7d7;
  --gray2: #ffffff;
  --gray3: #1f2429;
  --gray4: #e3e6e9;
  --gray5: #242a30;
  --gray6: #13181e;
  --blue: #0f4c75;
  --purple: #a82dd1;
  --yellow: #fff565;
}

.light {
  --bg: var(--gray0);
  /* --bg-nav: var(--gray2); */
  --bg-nav: linear-gradient(to right, var(--gray1), var(--gray2));
  --bg-footer: var(--gray4);
  --text: var(--gray6);
  --secondary-text: var(--gray3);
  --border-color: var(--blue);
  --bg-solar: var(--yellow);
}

.dark {
  --bg: var(--gray5);
  --bg-nav: linear-gradient(to right, var(--gray5), var(--gray6));
  --bg-footer: var(--gray3);
  --text: var(--gray1);
  --secondary-text: var(--gray3);
  --border-color: var(--purple);
  --bg-solar: var(--blue);
}

.solar {
  --gray0: #fdf6e3;
  --gray1: #eee8d5;
  --gray2: #f1e3b4;
  --gray3: #07404e;
  --gray4: #f3ead1;
  --gray5: #073642;
  --gray6: #003d4c;
  /* --bg: var(--gray5);
	--bg-nav: linear-gradient(to right, var(--gray5), var(--gray6));
	--bg-dropdown: var(--gray6);
	--text: var(--gray0);
	--border-color: var(--gray2);
	--bg-solar: var(--blue); */
}

.bg-nav {
  background: var(--bg-nav);
}

.bg-transition {
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}
.section-clip-Path {
  clip-path: polygon(0% 5%, 100% 0%, 100% 95%, 0% 100%);
}
.section-clip-Path-top {
  clip-path: polygon(0% 5%, 100% 0%, 100% 100%, 0% 100%);
}

html,
body {
  height: 100%;
}

.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}
#__nuxt {
  height: 100%;
}

#__layout {
  height: 100%;
}
