/* purgecss start ignore */
@import "tailwindcss/base";
@import "tailwindcss/components";
/* purgecss end ignore */
@import "tailwindcss/utilities";

/* purgecss start ignore */
@import "tailwindcss/base";
@import "tailwindcss/components";
/* purgecss end ignore */
@import "tailwindcss/utilities";
/* purgecss end ignore */
@import "./prism.css";

/* Themes */

:root {
  --gray0: #f8f8f8;
  --gray1: #dbe1e8;
  --gray2: #b2becd;
  --gray3: rgba(160, 174, 192, 0.7);
  --gray4: #454e56;
  --gray5: #2a2e35;
  --gray6: #12181b;
  --blue: #0084a5;
  --purple: #a82dd1;
  --yellow: #fff565;
}

.light {
  --bg: var(--gray0);
  --bg-nav: linear-gradient(to right, var(--gray1), var(--gray3));
  --bg-footer: var(--gray1);
  --text: var(--gray6);
  --secondary-text: var(--gray3);
  --border-color: var(--blue);
  --bg-solar: var(--yellow);
}

.dark {
  --bg: var(--gray5);
  --bg-nav: linear-gradient(to right, var(--gray5), var(--gray6));
  --bg-footer: var(--gray4);
  --text: var(--gray0);
  --secondary-text: var(--gray3);
  --border-color: var(--purple);
  --bg-solar: var(--blue);
}

.solar {
  --gray0: #fbffd4;
  --gray1: #f7f8d0;
  --gray2: #b6f880;
  --gray3: #5ec72d;
  --gray4: #3ea565;
  --gray5: #005368;
  --gray6: #003d4c;
  /* --bg: var(--gray5);
	--bg-nav: linear-gradient(to right, var(--gray5), var(--gray6));
	--bg-dropdown: var(--gray6);
	--text: var(--gray0);
	--border-color: var(--gray2);
	--bg-solar: var(--blue); */
}

.bg-nav {
  background: var(--bg-nav);
}

.bg-transition {
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}
